
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity ;
  -moz-transition-property: opacity ;
  -o-transition-property: opacity ;
  transition-property: opacity ;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 67%;
  width: 92%;
  margin-left: 44px;
  margin-top: 40px;
}

.item:nth-child(1) {
  background-image: url(img/new-header-08.jpg);
    background-position:center center;
}

.item:nth-child(2) {
    background-image: url(img/new-header-07.jpg);
    background-position:center center;
}

.item:nth-child(3) {
    background-image: url(img/new-header-03.jpg);
    background-position:center center;
}

/*  header  */
header{
    width: 121.9%;
    height: 80px;
    background: #ffffff;
    margin-top: -205px;
    margin-left: -71px;
    position: absolute;
}

header .logo{
    float: left;
    margin-top: -77px;
    margin-left: 100px;
}

header nav{
    overflow: hidden;
    display: inline-block;
    margin: 7px 0 0 20px;
    padding: 13px 40px;
    margin-left: -140px;
    margin-top: 14px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
    margin-left: 45px;
    font-size: 16px;
    font-family: 'lato_regular', arial;
    letter-spacing: 6px;
    text-transform: uppercase;
}

header nav ul li:first-child{
    margin-left: 50px;
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    color: #1d1e22;
}

header nav ul li a:hover{
    color: #75cec2;
    text-decoration: none;
}


header nav ul li a:active{
    color: #75cec2;
    text-decoration: none;
}


header nav ul li a:link{
    color: #75cec2;
    text-decoration: none;
}


.login-emailpassword {
    margin-top: -50px;
    margin-left: 1000px;
}


.button1  {
    font-family: 'lato-regular', arial;
    font-size: 100%;
    width: 105px;
    height: 32px;
    background-color: #75cec2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-top: 5px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
}


 .title2 .{
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 65px;
    line-height: 56px;
    margin-top: -180px;
}


.button2  {
    font-family: 'lato-regular', arial;
    font-size: 140%;
    width: 180px;
    height: 47px;
    margin: 0;
    background-color: rgba(225,225,255,0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-left: 710px;
    margin-top: -90px;
    border: 2px solid white;
}

.button2:hover {
    background-color: #75cec2;
}

.button2 a{
    text-decoration: none;
    color: white;
}

.title1 p{
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: -822px;
    margin-top: 30px;
}

.button2 .title1 {
    font-family: 'lato-regular', arial;
    font-size: 140%;
    width: 180px;
    height: 58px;
    margin: 0;
    background-color: rgba(225,225,255,0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-left: 658px;
    border: 2px solid white;
}

.button3  {
    font-family: 'lato-regular', arial;
    font-size: 140%;
    width: 207px;
    height: 55px;
    background-color: rgba(225,225,255,0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 26px;
    border: 2px solid white;
    margin-left: 370px;
}

.button3:hover {
    background-color: #75cec2;
}

.button3 a{
    text-decoration: none;
    color: white;
}

.title3 p{
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 396px;
    margin-top: 20px;
}

 .title4 p {
   display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 290px;
    margin-top: 20px;
    text-align: center;
}


.title5 p {
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 276px;
    margin-top: 20px;
}

 .title6 p {
   display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 216px;
    line-height: 56px;
    margin-top: -180px;
}


/*footer social media icons*/

.features4 {
    width:130%;
    padding: 108px 0;
    background: url(img/bg-blue.png);
    height: 20px;
    margin-left: -128px;
    margin-top: 160px;
}


.feature4 .title-section {
    display: block;
    width: 179%;
    margin-top: 570px;
    margin-left: 620px;
}

.feature4 p {
    margin-bottom: 20px;
    color: white;
    font-family: 'lato-regular', arial;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: -63px;
    margin-left: 580px;
}


.facebook {
    display: block;
    margin-left: 560px;
    margin-top: 0px;
}

.twitter {
    display: block;
    margin-left: 650px;
    margin-top: -92px;
}

.vimeo {
    display: block;
    margin-left: 750px;
    margin-top: -96px;
}

.facebook:hover {
    background-color: #75cec2;
}

.twitter:hover {
    background-color: #75cec2;
}

.vimeo:hover {
    background-color: #75cec2;
}


/*footer*/

.features5 {
    width:130%;
    padding: 59px 0;
    background: #75cec2;
    height: 20px;
    margin-left: -128px;
}


.feature5 .title-section5 {
    display: block;
    width: 179%;
    margin-top: 570px;
    margin-left: 620px;
}

.feature6 .title-section6 {
    display: block;
    width: 179%;
    margin-top: 570px;
    margin-left: 620px;
}


.feature5 p {
    margin-bottom: 20px;
    color: white;
    font-family: 'lato-regular', arial;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: -574px;
    margin-left: -130px;
}

.feature6 p {
    margin-bottom: 20px;
    color: #1d1e22;
    font-family: 'lato-regular', arial;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: -594px;
    margin-left: -45px;
}

#canvas1 {
    margin-top: -8px;
    margin-left: 10px;

}

.canvas1-box {
  border: 2px solid #a1a1a1;
  margin-top: -320px;
/*  background-color: white;*/
  margin-left: 83px;
}


.canvas1-text p {
 margin-left: -510px;
 font-family: 'lato-regular', arial;
 font-size: 15px;
 letter-spacing: 6px;
 text-transform: uppercase;
 color:#b8b8b8;
 text-align: center;
 margin-top: 380px;
}




#canvas2 {
    margin-top: 10px;
    margin-left: 10px;

}

.canvas2-box {
  border: 2px solid #a1a1a1;
  margin-top: 28px;
  margin-left: 629px;
   width: 430px;
   height: 600px;
}

.canvas2-box a {
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #d56791;
    font-family: 'lato-regular',arial;
}

.canvas2-box p {
    margin-left: 27px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
color: #d56791;
font-family: 'lato-regular',arial;
padding-top: 10px;
}


.icont-top-text p {
    margin-top: -10px;
    margin-left: 97px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

 img.icon-outwear {
   margin-top: -197px;
    margin-left: 250px;
}

.icont-outwear-text p {
    margin-top: -57px;
    margin-left: 232px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


a .icon-dresses {
    margin-top: 40px;
    margin-left: 80px;
}

.icont-dresses-text p {
    margin-top: 2px;
    margin-left: 67px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

 img.icon-shoes {
   margin-top: -187px;
    margin-left: 250px;
}

.icont-shoes-text p {
    margin-top: -57px;
    margin-left: 252px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


a .icon-hat {
    margin-top: 50px;
    margin-left: 80px;
}

.icont-hat-text p {
    margin-top: -17px;
    margin-left: 100px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

 img.icon-hanger {
   margin-top: -187px;
    margin-left: 250px;
}

.icont-hanger-text p{
    margin-top: -57px;
    margin-left: 244px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
*/

.button-new  {
    font-family: 'lato-regular', arial;
    font-size: 130%;
    width: 105px;
    height: 36px;
    margin: 0;
    background-color: #d56791;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
     margin-left: 234px;
    margin-top: 13px;
}


.button-save {
    font-family: 'lato-regular', arial;
    font-size: 130%;
    width: 105px;
    height: 36px;
    margin: 0;
    background-color: #31354a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-left: 20px;
    margin-top: 13px;
}


button a {
    font-family: 'lato-regular', arial;
    font-size: 100%;
    width: 105px;
    height: 36px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-top: 13px;
    text-decoration: none;
}


button a:hover{
    font-family: 'lato-regular', arial;
    font-size: 100%;
    width: 105px;
    height: 36px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-top: 13px;
  text-decoration: none;

}


.title-section-mini p {
     margin-bottom: 20px;
    color: #1d1e22;
    font-family: 'lato-regular', arial;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 90px;
    margin-left: 80px;
}

#upload {
  background: white;
  font-size: 12px;
  font-family: 'lato-regular', arial;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 350px;
  height: 380px;
}


#errormessages {
  font: bold 13px Arial;
  min-height: 32px;
  padding: 0px 10px;
  text-align: center;
}

#dropzone-wrapper {
  background-color: #fff;
  margin-top: 10px;
  margin-left: 123px;
  border: 2px dotted #ddd;
  border-radius: 10px;
  height: 60px;
  width: 160px;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
          transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dropzone-wrapper #dropzone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#dropzone-wrapper #textbox-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#dropzone-wrapper #textbox-wrapper #textbox {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#dropzone-wrapper #textbox-wrapper #textbox p {
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
  margin: 0 0 3px 0;
  font: bold 12px Arial;
}


.dropzonehover #dropzone-wrapper #textbox-wrapper #textbox p.large {
  font-size: 0px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.dragging #dropzone-wrapper #textbox-wrapper #textbox p.small {
  font-size: 0px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}


#output canvas {
  margin: 5px;
  width: 120px;
}


#output ul {
  list-style: none;
  margin: 0;
  margin-top: 60px;
  margin-left: -220px;
}

#output ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-content {
  display: table;
  margin: 5px 0;
}

.list-content span {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 10px;
}

.list-content span.preview {
  width: 55px;
}


.list-content span.options {
  width: 110px;
}

.list-content span.options .imagedelete {
  cursor: pointer;
  display: block;
  width: 21px;
  height: 30px;
  background-image: url(lixeira.png);
}


#output .removed-item {
  -webkit-animation: removed-item-animation 0.6s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
          animation: removed-item-animation 0.6s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
}

#output .new-item {
  opacity: 0;
  -webkit-animation: openspace 0.6s ease forwards, new-item-animation 0.3s 0.3s cubic-bezier(0, 0.8, 0.32, 1.07) forwards;
          animation: openspace 0.6s ease forwards, new-item-animation 0.3s 0.3s cubic-bezier(0, 0.8, 0.32, 1.07) forwards;
}

@-webkit-keyframes openspace {
  to {
    height: auto;
  }
}

@keyframes openspace {
  to {
    height: auto;
  }
}
@-webkit-keyframes removed-item-animation {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes removed-item-animation {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/*mini carousel */

#carouselmini  {
    margin: 2em auto;
    width: 1295px;
    margin-left: 160px;
}

#carouselmini-wrapper {
    width: 51%;
    overflow: hidden;
    margin-left: 110px;
    height: 110px;
}

#carouselmini-items {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 100%;
}


#carouselmini-items li {
    float: left;
    width: 100px;
    margin: 5px;
    line-height: 100px;
    text-align: center;
    border: 2px solid silver;
}

#carouselmini-nav {
    margin: 1em 0;
    overflow: hidden;
    margin-top: -70px;
    margin-left: 10px;
    margin-right: 410px;
}

#carouselmini-nav a {
    padding: 5px 16px;
    text-decoration: none;
}

#carouselmini-next {
    float: right;
}

#carouselmini-prev {
    float: left;
}
