/*.carousel-indicators {
    top: 520px;
  margin-left: -800px;
}*/
/*.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity ;
  -moz-transition-property: opacity ;
  -o-transition-property: opacity ;
  transition-property: opacity ;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;

}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}*/

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 67%;
  width: 92%;
  margin-left: 44px;
  margin-top: 40px;
}

.item:nth-child(1) {
  background-image: url(img/new-header-08.jpg);
    background-position:center center;
}
.item:nth-child(2) {
    background-image: url(img/new-header-07.jpg);
    background-position:center center;
}
.item:nth-child(3) {
    background-image: url(img/new-header-03.jpg);
    background-position:center center;

}

/*  header  */
header{
    width: 121.9%;
    height: 80px;
    background: #ffffff;
    margin-top: -216px;
    margin-left: -71px;
    position: absolute;

}

header .logo{
    float: left;
    margin-top: -77px;
    margin-left: 100px;
}

header nav{
    overflow: hidden;
    display: inline-block;
    margin: 7px 0 0 20px;
    padding: 13px 40px;
    margin-left: -140px;
    margin-top: 14px;
/*    border-left: 1px #1d1e22 solid;
*/}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
    margin-left: 45px;
    font-size: 16px;
    font-family: 'lato_regular', arial;
    letter-spacing: 6px;
    text-transform: uppercase;
}

header nav ul li:first-child{
    margin-left: 50px;
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    color: #1d1e22;
}

header nav ul li a:hover{
    color: #75cec2;
    text-decoration: none;
}


header nav ul li a:active{
    color: #75cec2;
    text-decoration: none;
}


header nav ul li a:link{
    color: #75cec2;
    text-decoration: none;
}



.login-emailpassword {
    margin-top: -50px;
    margin-left: 1000px;
}


.button1  {
    font-family: 'lato-regular', arial;
    font-size: 100%;
    width: 105px;
    height: 32px;
    background-color: #75cec2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-top: 5px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
}



 .title2 .{
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 65px;
    line-height: 56px;
    margin-top: -180px;
}


.button2  {
    font-family: 'lato-regular', arial;
    font-size: 140%;
    width: 180px;
    height: 47px;
    margin: 0;
    background-color: rgba(225,225,255,0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-left: 710px;
    margin-top: -90px;
    border: 2px solid white;
}

.button2:hover {
    background-color: #75cec2;
}

.button2 a{
    text-decoration: none;
    color: white;
}

.title1 p{
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 30px;
/*    background: rgba(225,225,255,0.6);*/
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: -822px;
    margin-top: 30px;
}

.button2 .title1 {
    font-family: 'lato-regular', arial;
    font-size: 140%;
    width: 180px;
    height: 58px;
    margin: 0;
    background-color: rgba(225,225,255,0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-left: 658px;
    border: 2px solid white;
}

.button3  {
    font-family: 'lato-regular', arial;
    font-size: 140%;
    width: 207px;
    height: 55px;
    background-color: rgba(225,225,255,0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 26px;
    border: 2px solid white;
    margin-left: 370px;
}

.button3:hover {
    background-color: #75cec2;
}

.button3 a{
    text-decoration: none;
    color: white;
}

.title3 p{
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 25px;
/*    background: rgba(225,225,255,0.6);*/
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 396px;
    margin-top: 20px;
}

 .title4 p{
   display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 290px;
    margin-top: 20px;
    text-align: center;
}


.title5 p{
    display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 25px;
/*    background: rgba(225,225,255,0.6);*/
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 276px;
    margin-top: 20px;
}

 .title6 p{
   display: inline-block;
    color: #fff;
    font-family: 'lato-regular', arial;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 216px;
    line-height: 56px;
    margin-top: -180px;
}



/*feature1 - box 1*/

.features{
    width:100%;
    padding: 90px 0;
    background: white;
}

.features .row{
    margin-bottom: 100px;
    overflow: hidden;
}

.features .row:last-child {
    margin-bottom: 0;
}

.features .row .feature:last-child{
    margin-right: 0;
}

.features .feature{
    display: block;
    width: 1016px;
    height: 100px;
    margin-left: -130px;
    margin-top: 160px;
}

.feature .title-section {
    display: block;
    width: 179%;
    margin-top:  -190px;
    margin-left: 495px;
}

.feature .title-section p {
    margin-bottom: 20px;
    color: #1d1e22;
    font-family: 'lato-regular', arial;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.feature .about-text p {
    color: #1d1e22;
    font-family: 'lato-regular', arial;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 70px;
    text-align: center;
    margin-left: 360px;
}


/*partner up with us*/

.features2{
    width:100%;
    padding: 120px 0;
    background: white;
    margin-top: 613px;
    margin-left: -83px;

}

.features2 .row{
    margin-bottom: 100px;
    overflow: hidden;
}

.features2 .row:last-child {
    margin-bottom: 0;
}

.features2 .row .feature2:last-child{
    margin-right: 0;
}

.features2 .feature2{
    display: block;
    width: 120%;
    height: 408px;
    float: left;
    margin-left: -5px;
    background-image: url('img/bg-pink02.png');
}

.feature2 .steps-row {
    display: block;
    width: 100px;
    float: left;
    margin-right: 40px;
    margin-left: -31px;
    margin-top: 30px;
}

.feature2 .steps-row {
    margin-top: 50px;
}

.feature2 .title-section2 {
    display: block;
    width: 179%;
    margin-top: 84px;
    margin-left: 542px;
}

.feature2 p{
    margin-bottom: 20px;
    color: white;
    font-family: 'lato-regular', arial;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.comment1 p {
    color: white;
    margin-top: 60px;
    font-size: 17px;
    margin-left: -60px;
    text-align:center;
}


.email-partnership a:hover {
       text-decoration: none;
}



.email-partnership p {
    font-size: 17px;
    text-align:center;
          color: white;
    margin-top: 60px;
    margin-left: -80px;

}


.icone-msg {
    margin-top: -69px;
    margin-left: 450px;
}

/*triangulo branco*/

.triangulo {
    margin-top: -833px;
    margin-left: 655px;
}

/*contact form*/

.contact-form-name {
    margin-top: 140px;
    margin-left: 226px;
}

 .contact-form-name input, select, textarea {
    font-family: 'lato-regular', arial;
    color: #d5d5d5;
    font-size: 94%;
    width: 334px;
    height: 49px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    margin-top: 15px;
}


.contact-form-e-mail {
    margin-top: -64px;
    margin-left: 584px;
}

 .contact-form-e-mail input, select, textarea {
    font-family: 'lato-regular', arial;
    color: #d5d5d5;
    font-size: 94%;
    width: 334px;
    height: 49px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    margin-top: 15px;
}

.contact-form-message {
    margin-top: 6px;
    margin-left: 226px;
}

 .contact-form-message input, select, textarea {
    font-family: 'lato-regular', arial;
    color: #d5d5d5;
    font-size: 94%;
    width: 695px;
    height: 199px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    margin-top: 15px;
}


.button4  {
    font-family: 'lato-regular', arial;
    font-size: 150%;
    width: 205px;
    height: 48px;
    margin: 0;
    background-color: #75cec2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    -moz-border-radius: 5px;
    margin-left: 467px;
    margin-top: 22px;
}


.signup-login a {
    font-family: 'lato-regular', arial;
    color: #9a9999;
    font-size:10px;
    margin-left: 150px;
}


/*feature1 - box 1*/

.features3 {
    width:100%;
    padding: 9px 0;
    background: white;
}

.features3 .row{
    margin-bottom: 100px;
    overflow: hidden;
}

.features3 .row:last-child {
    margin-bottom: 0;
}

.features3 .row .feature:last-child{
    margin-right: 0;
}

.features3 .feature3{
    display: block;
    width: 346px;
    height: auto;
    float: left;
    margin-left: 106px;
    margin-top: 70px;
}

.feature3 .brands-row1 {
    display: block;
    width: 100px;
    float: left;
    margin-left: -51px;
    margin-top: 30px;
}

.feature3 .brands-row2 {
    display: block;
    width: 100px;
    margin-left: -221px;
}

.feature3 .title-section3 {
    display: block;
    width: 179%;
    margin-top:  -130px;
    margin-left: 230px;
}

.feature3 p{
    margin-bottom: 20px;
    color: #1d1e22;
    font-family: 'lato-regular', arial;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.brand1:hover {
border: 2px solid #75cec2;
}


.brand2 {
    display: block;
    float: left;
    margin-left: 227px;
    margin-top: -150px;
}

.brand2:hover {
border: 2px solid #75cec2;
}

.brand3 {
    display: block;
    float: left;
    margin-left: 454px;
    margin-top: -150px;
}


.brand3:hover {
border: 2px solid #75cec2;
}

.brand4 {
    display: block;
    float: left;
    margin-left: 679px;
    margin-top: -150px;
}


.brand4:hover {
border: 2px solid #75cec2;
}

.brand5 {
    display: block;
    float: left;
    margin-left: 906px;
    margin-top: -151px;
}

.brand5:hover {
border: 2px solid #75cec2;
}











/*footer social media icons*/

.features4{
    width:130%;
    padding: 108px 0;
    background: url(img/bg-blue.png);
    margin-left: -128px;
    margin-top: 300px;
}

.feature4 .title-section {
    display: block;
    width: 179%;
    margin-top: 570px;
    margin-left: 620px;
}

.feature4 p{
    margin-bottom: 20px;
    color: white;
    font-family: 'lato-regular', arial;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: -63px;
    margin-left: 580px;
}


.facebook {
    display: block;
    margin-left: 560px;
    margin-top: 0px;
}

.twitter {
    display: block;
    margin-left: 650px;
    margin-top: -92px;
}

.vimeo {
    display: block;
    margin-left: 750px;
    margin-top: -96px;
}

.facebook:hover {
    background-color: #75cec2;
}

.twitter:hover{
    background-color: #75cec2;
}

.vimeo:hover{
    background-color: #75cec2;
}


/*footer*/

.features5{
    width:130%;
    padding: 59px 0;
    background: #75cec2;
    height: 20px;
    margin-left: -128px;
}


.feature5 .title-section5 {
    display: block;
    width: 179%;
    margin-top: 570px;
    margin-left: 620px;
}

.feature6 .title-section6 {
    display: block;
    width: 179%;
    margin-top: 570px;
    margin-left: 620px;
}


.feature5 p{
    margin-bottom: 20px;
    color: white;
    font-family: 'lato-regular', arial;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: -574px;
    margin-left: -130px;
}

.feature6 p{
    margin-bottom: 20px;
    color: #1d1e22;
    font-family: 'lato-regular', arial;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: -594px;
    margin-left: -45px;
}


/*mini carousel */

.title-section-mini p {
     margin-bottom: 20px;
    color: #1d1e22;
    font-family: 'lato-regular', arial;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

#carousel-mini {
    margin: 2em auto;
    width: 880px;
    margin-top: 70px;
}

#carousel-wrapper-mini {
    width: 100%;
    height: 110px;
    overflow: hidden;
}

#carousel-items-mini {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

#carousel-items-mini li {
    float: left;
    width: 100px;
    margin: 5px;
    text-align: center;
    background-color: white;
    border: 2px solid #a1a1a1;
}

#carousel-nav-mini {
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -68px;
}

#carousel-nav-mini a {
    color: #d56791;
    text-decoration: none;
}

#carousel-next-mini {
    float: right;
}

#carousel-prev-mini {
    float: left;
}

#carousel-items-mini li img{
    text-align: center;
}
